<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/pure.js" type="text/javascript" charset="utf-8"></script>
    
    {% block extra_headers %}
    {% endblock %}
    <title>{% block title %}Timesheet application by Kender{% endblock %}</title>
</head>
<body>
    {% block body %}
    <div class="inner">
    {% block inner %}
    
    {% endblock %}
    </div>
    {% endblock %}
</body>
</head>