{% extends "base.html" %}
{% block extra_headers %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/api_calls.js" ></script>
{% endblock %}

{% block body %}
    <div id="taskslist">
        <form id="taskentry">
            new task: <input type="text" id="title" />
        </form>
        <table id="tasks">
        </table>
    </div>
    <a href="{% url "report_by_day" %}?__format=html" target="_blank">report</a>
    <hr />
    <a href="{% url 'index' %}">User management</a>
{% endblock %}