{% extends "base.html" %}
{% load timefilter %}
{% block extra_headers %}
<style type="text/css">
.time_sum {
    font-weight: bold;
    background: #98bf21;
    text-align: right;
    color: white;
}
td.time {
    text-align: right;
}
.time_sum td,th {
    padding: 5px;
    padding-right: 10px;
}
.odd {
    background: #e1e1e1;
}
<style type="text/css" media="print">
form {
    display: none;
}
</style>
</style>
{% endblock %}
{% block title %}Timesheet report for dates: {{first_date|date:"Y-m-d"}} - {{last_date|date:"Y-m-d"}}{% endblock %}
{% block body %}
<form id="change_dates">
    <input type="text" value="{{first_date|date:"Y-m-d"}}" name="__date_start" /> - <input type="text" value="{{last_date|date:"Y-m-d"}}" name="__date_end" />
    <input type="hidden" name="__format" value="html" />
    <input type="submit" value="Show" />
</form>
<table class="report">
    <tr><td colspan="3">
    Timesheet report for dates: {{first_date|date:"Y-m-d"}} - {{last_date|date:"Y-m-d"}}
    </td></tr>
    <tr>
        <th>Day</th>
        <th>Task</th>
        <th>Time spent</th>
    </tr>
    {% for d in report %}
    {% for t in d.tasks %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td><span class="nowrap">{{d.date}}</span></td>
        <td>{{t.task.title}}</td>
        <td class="time">{{t.total_time|timefilter}} {% if t.running_time %}(+{{t.running_time|timefilter}}){%endif %}</td>
    </tr>
    {% endfor %}
    <tr  class="time_sum"><td colspan="3">{{d.total_time|timefilter}} {% if d.running_time %}(+{{d.running_time|timefilter}}){% endif %}</td></tr>
    {% endfor %}
    <tr class="time_sum"><th>total sum<br /><span class="nowrap">({{report|length}} days)</span></th><th colspan="2">{{all_time|timefilter}} {% if running_time %}(+{{running_time|timefilter}}){% endif %}</th></tr>
</table>
{% endblock %}