{% extends "base.html" %}
{% block inner %}
<h1>Main Page:</h1>

<ul>
    {% if user.is_authenticated %}
    <h2>Hello, {{user}}</h2>
    <li><a href="{% url 'my' %}">My list</a></li>
    <li><a href="{% url 'auth_logout' %}">logout</a></li>
    {% else %}
    <h2>Hello, Guest</h2>
    <li><a href="{% url 'auth_login' %}">login</a></li>
    <li><a href="{% url 'registration_register' %}">register</a></li>
    {% endif %}
</ul>
{% endblock %}