body, html, div {
    padding: 0px;
    margin: 0px;
}
body {
    width: 320px;
    background: url('/static/img/TableViewGrouped.jpg') repeat left;
}
#taskslist {
    width: 300px;
    margin: 10px;
}
span.ajaxlinkstop {
    color: red;
}
span.ajaxlinkstart {
    color: blue;
}
span.ajaxlinkdel {
    font-size: 0.7em;
    color: white;
    background-color: red;
}
span.ajaxlinkhide {
    font-size: 0.7em;
    color: white;
    background-color: #333;
}
tr.active {
    color: green;
}
.hidden {
    display: none;
}
table#tasks {
    border: 1px solid black;
    border-collapse:collapse;
    width: 100%;
}
table#tasks td {
    border: 1px solid #98bf21;
}
table#tasks td.ajaxlink {
    text-align: center;
}
.time {
    text-align: center;
}
td.old_true {
    color: #666;
}
td.old_false {
}
td.hide_true {
    text-decoration: line-through;
}

table.report {
    font-size: 0.8em;
    font-family: Tahoma;
}

.nowrap {
    white-space: nowrap;
}

div.inner {
    width: 200px;
    margin: 0px auto;
}